<%- include("partials/header.ejs") -%>

<h1>Compose</h1>
<form class="" action="/compose" method="post">

  <div class="form-group">
    <label for="entryTitle">Title</label>
    <input class="form-control" type="text" name="entryTitle">
    <label for="entryText">Post</label>
    <textarea class="form-control" name="entryText" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>

<%- include("partials/footer.ejs") -%>
