h1{
  margin: 50px auto 0 auto;
  font-family: 'Handlee', cursive;
  font-size: 5rem;
  color: #5edfff;
}

h2{
  font-size: 2.5rem;
}

h3{
  color: #3e64ff;
}

.subtitle{
  margin-top: 0;
  font-weight: normal;
}

a{
  color: #3e64ff;
}

body{
  margin: 0;
  text-align: center;
  font-family:'Dosis', sans-serif;
  background-color: #ecfcff;
  color: #5edfff;
}

.skill_icon_left{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill_icon_right{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.top-container{
  padding-top: 10%;
  position:relative;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
  display: inline-block;
}

.top-cloud{
  position: absolute;
  right: 30%;
  top: 5%
}

.bottom-cloud{
  position: absolute;
}
